extends reveal-layout

block content
  div.reveal
    div.slides
      section(
        data-markdown='/#{title}'
        data-separator='^---$'
        data-separator-vertical='^>>>$'
        data-separator-notes='^note:'
        data-charset='utf8'
      )
 
